flask
pymongo
Flask-PyMongo

coverage==4.5.2
pytest
pytest-cov==2.6.1
pytest-flakes==2.0.0
pytest-pep8
pytest-pythonpath
requests
pytest-html
pytest-flask
pytest-mongodb

pytest-mongodb
mongomock
pyyaml>=5.1
pytest>=2.5.2

mock
flake8>=2.1.0