@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');


$primary-color: black;
$secondary-color: white;

$primary-font-family: "Nunito", sans-serif;
$secondary-font-family: "Open Sans", sans-serif; 

$font-xssmall: 13px;
$font-small: 15px;
$font-large: 40px;

* {
    margin: 0;
    padding: 0;
}