img {
    max-width: 100%;
    width: 300px;
    height: 300px;
}

h1, p, a {
    padding: 10px;

}

p, div {
    padding-bottom: 40px;
}

h1 {
    font-family: $primary-font-family;
}

p {
    font-family: $secondary-font-family;
    font-size: $font-small;
}

a {
    font-family: $secondary-font-family;
    font-size: $font-xssmall;
}

main {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

div {
    width: 300px;
    height: auto;
    text-align: left;
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;
    margin: 40px 40px;
}